---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
import Card_Text from "../components/Card_Text.astro";
import Card_Imagen from "../components/Card_Imagen.astro";
import { gustos_img, colors } from "../js/links.js";

const {
    dibujar_img,
    futbol_img,
    basquet_img,
    breakin_bad_img,
    maldicion_hill_house,
    rosario_tijeras_img,
    messi_img,
    ayanokoyi_img,
} = gustos_img;

const { morado, azul, blanco } = colors;
---

<Layout title="Gustos">
    <main>
        <Cabezera />
        <div class="contenido">
            <div class="cards texto">
                <Card_Text
                    color={morado}
                    titulo="Dibujar"
                    contenido="!!Le gusta dibujar y se le increiblemente bien!!"
                    clase="uno"
                />
                <Card_Text
                    color={azul}
                    titulo="Futbol"
                    contenido="Si adora a Messi, como no le va a gustar el futbol??"
                    clase="dos"
                />
                <Card_Text
                    color={blanco}
                    titulo="Basquet"
                    contenido="Vaya caja de sorpresas!, le gusta tambien el basquet"
                    clase="tres"
                />
                <Card_Text
                    color={morado}
                    titulo="Breaking Bad"
                    contenido="Mmm... Drogas? Todo bien en casa?"
                    clase="cuatro"
                />
                <Card_Text
                    color={azul}
                    titulo="Rosario Tijeras"
                    contenido="El narcotrafico y la delincuencia a todo esplendor y emocion, quien no veria eso?"
                    clase="cinco"
                />
                <Card_Text
                    color={blanco}
                    titulo="La maldición de hill house"
                    contenido="Una casa embrujada y fantasmas?? lo suficiente para llamar a un sacerdote para que haga su magia"
                    clase="seis"
                />
                <Card_Text
                    color={morado}
                    titulo="Messi"
                    contenido="SIUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU! jajaja"
                    clase="siete"
                />
                <Card_Text
                    color={azul}
                    titulo="Ayanokoji"
                    contenido="Cuenta como amor platonico??"
                    clase="ocho"
                />
            </div>
            <div class="cards imagenes">
                <Card_Imagen imagen={dibujar_img} clase="uno" color={morado} />
                <Card_Imagen imagen={futbol_img} clase="dos" color={azul} />
                <Card_Imagen imagen={basquet_img} clase="tres" color={blanco} />
                <Card_Imagen
                    imagen={breakin_bad_img}
                    clase="cuatro"
                    color={morado}
                />
                <Card_Imagen
                    imagen={rosario_tijeras_img}
                    clase="cinco"
                    color={azul}
                />
                <Card_Imagen
                    imagen={maldicion_hill_house}
                    clase="seis"
                    color={blanco}
                />
                <Card_Imagen imagen={messi_img} clase="siete" color={morado} />
                <Card_Imagen imagen={ayanokoyi_img} clase="ocho" color={azul} />
            </div>
        </div>
    </main>
    <script src="../js/gustos.js"></script>
</Layout>

<style>
    .contenido {
        height: 90vh;
        position: relative;
    }

    main {
        background-color: #181818;
    }
</style>
