---
import Layout from "../layouts/Layout.astro";
import Cabezera from "../components/Cabezera.astro";
import Vinilo from "../components/Vinilo.astro";
import { vinilos_img, vinilos_music, recursos_extra } from "../js/links.js";

const {
    nirvana_logo,
    oasis_logo,
    chica_paranormal_logo,
    do_i_wanna_know_logo,
    let_i_happen_logo,
    tobe_nwigwe_logo,
    two_feet_logo,
    redbone_logo,
    tokio_drift_logo,
    the_neighbourhood_logo,
} = vinilos_img;

const {
    nirvana_mp3,
    oasis_mp3,
    chica_paranormal_mp3,
    do_i_wanna_know_mp3,
    let_i_happen_mp3,
    tobe_nwigwe_mp3,
    two_feet_mp3,
    redbone_mp3,
    tokio_drift_mp3,
    the_neighbourhood_mp3,
} = vinilos_music;

const { play_img, forward_img, backward_img } = recursos_extra;
---

<Layout title="Musica">
    <main>
        <Cabezera />
        <div class="contenido">
            <div class="pila_vinilos">
                <Vinilo img={nirvana_logo} song={nirvana_mp3} clase="uno" />
                <Vinilo img={oasis_logo} song={oasis_mp3} clase="dos" />
                <Vinilo
                    img={chica_paranormal_logo}
                    song={chica_paranormal_mp3}
                    clase="tres"
                />
                <Vinilo
                    img={do_i_wanna_know_logo}
                    song={do_i_wanna_know_mp3}
                    clase="cuatro"
                />
                <Vinilo
                    img={let_i_happen_logo}
                    song={let_i_happen_mp3}
                    clase="cinco"
                />
                <Vinilo
                    img={tobe_nwigwe_logo}
                    song={tobe_nwigwe_mp3}
                    clase="seis"
                />
                <Vinilo img={two_feet_logo} song={two_feet_mp3} clase="siete" />
                <Vinilo img={redbone_logo} song={redbone_mp3} clase="ocho" />
                <Vinilo
                    img={tokio_drift_logo}
                    song={tokio_drift_mp3}
                    clase="nueve"
                />
                <Vinilo
                    img={the_neighbourhood_logo}
                    song={the_neighbourhood_mp3}
                    clase="diez"
                />
            </div>
            <div id="song_name"></div>
            <div class="opc_rep">
                <img
                    class="opc"
                    id="backward"
                    src={backward_img}
                    alt="anterior"
                />
                <img class="opc" id="play/pause" src={play_img} alt="p/p" />
                <img class="opc" id="forward" src={forward_img} alt="despues" />
            </div>
        </div>
    </main>
    <script src="../js/musica.js"></script>
</Layout>

<style>
    .contenido {
        height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    main {
        background-color: #181818;
    }

    .pila_vinilos {
        position: relative;
        height: 400px;
        width: 400px;
        margin-right: 15vh;
    }

    .opc_rep {
        display: flex;
        gap: 10vh;
    }

    .opc {
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }

    .opc:hover {
        transition-duration: 0.5s;
        transform: scale(1.2);
    }

    #song_name {
        font-size: 20px;
        color: #f2f2f2;
        font-weight: 900;
    }
</style>
